<div id = "post-{{id}}" class = "card">
    <img class = "card-image" src = {{thumbnail}} alt="">
    <div id = "card-info">
        <p class = "card-title">{{title}}</p>
        <p class = "card-text">{{description}}</p>
        <a href= "/post/{{id}}" class = "post-details">View Post Details</a>
    </div>
</div>