
<head>
    <link rel="stylesheet" type="text/css" href="/public/css/viewpost.css">
</head>
<body>

    
    
    <div id = "post-box" class = "viewpost-boxes">
        <header id = "view-post-header">{{currentPost.title}}</header>
        <div>
            <img id = "view-image"src = "/{{currentPost.photopath}}"  alt = "Missing Image">
            

        </div>   
    </div>

   

    <div id = "post-information">
        <div class = "post-image-div"><strong>Title:</strong></div>
        <p class = "user-info">{{currentPost.title}}</p>
        
        <div class = "post-image-div"><strong>Author:</strong></div>
        <p class = "user-info">{{currentPost.username}}</p>

        <div class = "post-image-div"><strong>Creation Time:</strong></div>
        <p class = "user-info">{{currentPost.createdAt}}</p>
        
        <div class = "post-image-div"><strong>Description:</strong></div>
        <p class = "user-info">{{currentPost.description}}</p>
    </div>


     <div id = "comment-box" class = "viewpost-boxes">
        
        <header id = "view-post-header">Comments</header>
        <div id = "message-box">{{log this}}</div>

    </div>
    
        
    
    
</body>
